/** biome-ignore-all lint/complexity/noImportantStyles: I used !important to overwrite browser */
/** biome-ignore-all lint/style/noDescendingSpecificity: ::-webkit-calendar-picker-indicator- to change color of the calendar icon on date input */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
strong,
.cta {
  font-family: "Poppins", sans-serif;
}
span,
p,
a,
em,
div,
ul,
li,
button,
input {
  font-family: "Google Sans", sans-serif;
}

:root {
  --color-bg: #fff;
  --bnt-hover: #47a147;
  --color-accent: #084d08;
  --color-card: #e5e5e5;
  --color-title: #14213d;
  --color-primary-text: #282727;
  --color-btn: #ccff33;
  --bouncy-cubicBezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --b-radius: 10px;
}

@media (max-width: 640px) {
  :root {
    --b-radius: 5px;
  }
}

:root[data-theme="dark"] {
  --color-title: #c7c7c7;
  --color-primary-text: #ffffff;
  --color-card: #323232;
  --color-btn: #ccff33;
  --color-btn-hover: #4caf50;
  --color-bg: #282727;
  --color-accent: #1f2a48;
}

body {
  background: var(--color-bg);
}

button {
  cursor: pointer;
}
button:focus-visible {
  outline: solid 2px var(--color-btn) !important;
  border: solid 1px var(--color-btn) !important;
}

/* cta button */
.cta {
  padding: 0.45rem 1.25rem;
  color: var(--cta-color);
  border-radius: 999px;
  border: 1px solid var(--color-primary-text);
  background-color: var(--color-btn);
  box-shadow: 3px 3px 0 0 var(--color-primary-text);
  transform: translate(-1.5px, -1.5px);
  &:active,
  &:hover {
    box-shadow: none;
    transform: translate(1.5px, 1.5px);
  }
}

.cta.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  &:active,
  &:hover {
    box-shadow: 3px 3px 0 0 var(--color-primary-text);
    transform: translate(-1.5px, -1.5px);
  }
}
.cta.uncorrect {
  animation: uncorrect-cta 0.5s linear;
  border: 1px solid red;
  box-shadow: 3px 3px 0 0 red;
  background: var(--color-bg);
  color: var(--color-primary-text);
  &:active,
  &:hover {
    box-shadow: none;
    transform: translate(1.5px, 1.5px);
  }
}

@keyframes uncorrect-cta {
  from {
    transform: translate(-1.5px, -1.5px);
  }
  25% {
    transform: translate(10px, -1.5px);
  }
  75% {
    transform: translate(-10px, -1.5px);
  }
  to {
    transform: translate(-1.5px, -1.5px);
  }
}

/* Primary button */
.primary {
  font-size: 14px;
  padding: 0.45rem 1rem;
  background-color: color-mix(in lab, var(--color-btn) 100%, white);
  color: black;
  border-radius: 0.5rem;
  border: 1px solid var(--color-title);
  &:active,
  &:hover {
    box-shadow: 0 0 0 3px var(--color-btn);
    border: solid 1px white;
    outline: none;
  }
}

/* Secondary button */
.secondary {
  font-size: 14px;
  padding: 0.45rem 1rem;
  background: var(--color-bg);
  color: var(--color-primary-text);
  border-radius: 0.5rem;
  border: 1px solid var(--color-title);
  &:active,
  &:hover {
    box-shadow: 0 0 0 2px var(--color-btn);
    border: solid 1px var(--color-btn);
    outline: none;
  }
}
.primary.disabled,
.secondary.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  &:active,
  &:hover {
    border: 1px solid var(--color-title);
    outline: none;
    box-shadow: none;
    transform: translate(0, 0);
  }
}
.primary.uncorrect,
.secondary.uncorrect {
  animation: uncorrect 0.5s linear both;
  border: solid 1px red;
  color: var(--color-primary-text);
  background: var(--color-bg);
  &:focus,
  &:hover {
    box-shadow: 0 0 0 2px var(--color-btn);
    border: solid 1px var(--color-btn);
    outline: none;
  }
}

/* Inputs */
.text-input {
  color: var(--color-primary-text);
  background-color: var(--color-bg);
  padding: 0.55rem 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--color-primary-text);
  &:focus,
  &:hover {
    box-shadow: 0 0 0 2px var(--color-btn);
    border: solid 1px var(--color-btn);
    outline: none;
  }
}
.text-input::placeholder {
  opacity: 0.3;
  color: var(--color-primary-text);
  font-style: italic;
}
.text-input.uncorrect {
  animation: uncorrect 0.5s linear both;
  border: solid 1px red;
  &:focus,
  &:hover {
    box-shadow: 0 0 0 2px var(--color-btn);
    border: solid 1px var(--color-btn);
    outline: none;
  }
}
@keyframes uncorrect {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}

/* Input date specific */
input[type="date"] {
  padding: 0.47rem 1rem;
  color: color-mix(in lab, var(--color-primary-text) 50%, transparent);
}
:root[data-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
  cursor: pointer;
}
