# .env - Development Environment Variables

# Application Configuration
APP_PORT=3310
APP_SECRET=your_id_secret_access_token
REFRESH_SECRET=your_id_secret_refresh_token
STRIPE_SECRET_KEY=sk_key

# Database Configuration
DB_HOST=database
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_ROOT_PASSWORD=your_db_root_password
DB_NAME=your_db_name

# Email Configuration
EMAIL_USER=your_email_user
EMAIL_PASS=your_email_password

# Client Configuration
CLIENT_URL=http://localhost:3000
VITE_API_URL=http://localhost:3310
VITE_KeyStripe=your_key_stripe
