.message {
  display: flex;
  gap: 8px;
  margin: 8px 0;
  align-items: flex-start;
}

.sent {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sent .message-content {
  text-align: right;
}

.sent p {
  border-radius: var(--b-radius) var(--b-radius) 0 var(--b-radius);
  background: var(--color-card);
  padding: 0.5rem 1rem;
  margin: 0;
}

.received {
  justify-content: flex-start;
}

.received p {
  border-radius: var(--b-radius) var(--b-radius) var(--b-radius) 0;
  background: var(--color-btn-hover);
  color: var(--color-dark-text);
  padding: 0.5rem 1rem;
  margin: 0;
}

.message-avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 600;
  color: white;
  font-size: 12px;
  flex-shrink: 0;
}
